:root {
  --first-background-color: #e5e5e5;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --alternative-font-family: "raleway";
  --alternative-color: #757575;
  --logo-web-color: #2196f3;
  --logo-main-color: #000000;
  --main-color: #212121;
  --secondary-color: #ffffff;
  --color-filler: #afb1b8;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--first-background-color);
  color: var(--main-color);
  overflow-x: hidden;
}

.page-header {
  background-color: var(--secondary-color);
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  flex: 1;
  padding-left: 93px;
}

.navigation--portfolio {
  padding-left: 88px;
}
.page-header__overlay {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  height: 80px;
}

.logo--hovered {
  color: var(--logo-web-color);
  font-weight: 700;
  font-family: var(--alternative-font-family);
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__logo {
  color: var(--logo-main-color);
  font-family: var(--alternative-font-family);
}
.page-header__logo:hover,
.page-header__logo:focus {
  color: var(--logo-web-color);
}
.footer__logo {
  color: var(--secondary-color);
  font-family: var(--alternative-font-family);
  font-style: normal;
  width: 145px;
  margin: 0;
}
.footer__logo:hover,
.footer__logo:focus {
  color: var(--logo-web-color);
}
.navigation__link {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--logo-web-color);
}

.navigation__link--underscore::after {
  content: "";
  display: block;
  position: absolute;
  width: 53px;
  height: 4px;
  background-color: var(--logo-web-color);
  border-radius: 2px;
  margin-top: 28px;
}
.navigation__link--underscore2::after {
  content: "";
  display: block;
  position: absolute;
  width: 58px;
  height: 4px;
  background-color: var(--logo-web-color);
  border-radius: 2px;
  margin-top: 28px;
}
.navigation__link--underscore {
  position: relative;
  justify-content: end;
}
.contact {
  display: flex;
  gap: 30px;
  align-items: center;
}

.contact__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact__item--first {
  width: 161px;
}
.contact__item--second {
  width: 130px;
}

.contact__item:hover svg,
.contact__item:focus svg {
  fill: var(--logo-web-color);
}

.contact__icon {
  fill: #757575;
}

.contact__link {
  color: var(--alternative-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link--first {
  width: 135px;
}
.contact__link--second {
  width: 110px;
}
.contact__link:hover,
.contact__link:focus {
  color: var(--logo-web-color);
}
.main-page__overlay {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
main {
  background-color: var(--secondary-color);
}
.main-page {
  background-color: var(--second-background-color);
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/header/Img-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
}

.main-page__title {
  color: var(--secondary-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 696px;
  margin-top: 200px;
  margin-bottom: 30px;
  text-align: center;
}
.main-page__button {
  background-color: var(--logo-web-color);
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  border: 0px solid;
  border-radius: 4px;
  width: 200px;
  margin-top: 30px;
  margin-bottom: 200px;
  padding: 10px 41px 10px 42px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.block {
  padding-bottom: 0;
}
.block__delay {
  width: 1170px;
  display: flex;
  margin: 0 auto;
}
.block__list {
  display: flex;
  gap: 30px;
  margin: 0;
}
.block__item {
  width: 270px;
}

.attribute__text {
  color: var(--alternative-color);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}

.navigation__item {
  display: flex;
  justify-content: space-between;
  gap: 46px;
}
.navigation__item--portfolio {
  width: 261px;
}
.attribute {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  background-color: var(--third-background-color);
  border-radius: 4px;
  align-items: center;
}
.attribute__title {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 270px;
}
.aboutus {
  width: 1170px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.aboutus__title {
  width: 352px;
  margin-bottom: 50px;
  margin-top: 0;
}

.aboutus__delay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.aboutus__content {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 0;
}
.aboutus__item {
  flex-basis: calc((100% - 2 * 30px) / 3);
}

.aboutus__img {
  position: relative;
  width: 370px;
  height: 294px;
}

.aboutus__label {
  width: 370px;
  height: 70px;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.ourteam {
  background-color: var(--third-background-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
}
.ourteam__delay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.ourteam__list {
  display: flex;
  width: 1170px;
  gap: 30px;
  margin: 0;
}
.ourteam__item {
  display: flex;
  flex-basis: calc((100% - 3 * 30px) / 4);
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--secondary-color);
}
.ourteam__headline {
  width: 209px;
  margin-bottom: 50px;
}
.ourteam__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  margin: 30px 99px 10px 99px;
}
.ourteam__position {
  color: var(--alternative-color);
  font-size: 16px;
  line-height: 1.17;
  margin-top: 10px;
  margin-bottom: 16px;
}
.social {
  display: flex;
  width: 206px;
  gap: 10px;
  margin-bottom: 18px;
}
.social__icons {
  display: flex;
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  border: 1px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icons:hover {
  background-color: #2196f3;
  fill: var(--secondary-color);
}
.our-clients {
  width: 1170px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
}
.our-clients__overlay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.our-clients__headline {
  margin-top: 0;
  margin-bottom: 50px;
}

.our-clients__list {
  display: flex;
  gap: 30px;
  margin: 0;
}
.our-clients__item {
  fill: var(--color-filler);
  width: 170px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  animation: cursormovein 0.5s forwards;
}
.our-clients__item:hover svg {
  animation: cursormoveout 0.5s forwards;
}
.footer {
  background-color: var(--second-background-color);
  padding-top: 72px;
  padding-bottom: 60px;
}
.footer__block {
  display: flex;
  gap: 70px;
}
.footer__list {
  margin: 0;
}
.footer__item:not(:last-child) {
  padding-bottom: 9px;
}
.footer__item:first-child {
  padding-bottom: 20px;
}
.footer__link {
  color: var(--secondary-color);
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  margin: 0;
  line-height: 1.71;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover,
.footer__link:focus {
  color: var(--logo-web-color);
}
.social__icons--footer {
  fill: white;
  background-color: rgba(255, 255, 255, 0.1);
}
.social__icons--footer:hover {
  background-color: var(--logo-web-color);
}
.footer__social {
  margin: 0;
}
.joinus__headline {
  width: 113px;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin: 0;
}
.joinus {
  display: flex;
  width: 206px;
  flex-direction: column;
  gap: 20px;
}

.contact-form {
  display: flex;
  width: 570px;
  flex-direction: column;
  gap: 20px;
}
.contact-form__label {
  color: var(--secondary-color);
  text-transform: uppercase;
  width: 207px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.contact-form__grid {
  display: flex;
  justify-content: space-between;
}
.contact-form__input {
  display: flex;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
}
.contact-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
.contact-form__button {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: 0px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
  box-shadow: inset 0 0 0 0 #1869ac;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__button:active,
.contact-form__button:hover {
  box-shadow: inset 200px 0 0 0 #1869ac;
}

.contact-form__button svg {
  fill: var(--secondary-color);
}
.modal {
  position: fixed;
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}
.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  left: 5px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  transition-property: visibility, opacity, transform;
  transition-duration: 1s;
  z-index: 2;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

h4 {
  width: 448px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  margin: 0;
}

.form-group__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--alternative-color);
  margin-top: 10px;
}
.label--name {
  margin-top: 12px;
  position: relative;
}
.form-group__grid {
  display: flex;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-group__grid--textarea {
  width: 448px;
  height: 120px;
  resize: none;
  outline: 0;
}
.form-group__grid--textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-group__grid:hover svg,
.form-group__grid:focus svg {
  fill: #2196f3;
}
.form-group__grid:hover,
.form-group__grid:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}
.form-group__grid:has(input:focus) {
  border: 1px solid #2196f3;
  border-radius: 4px;
}
.form-group__grid:has(input:focus) svg {
  fill: #2196f3;
}

.form-group__icon {
  margin: 11px 12px;
}
.form-group__input {
  border-radius: 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: 0;
  width: 100%;
}

.form-group__btn {
  width: 200px;
  height: 50px;
  margin: 30px auto;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: 0px solid;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: inset 0 0 0 0 #1869ac;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-group__btn:active,
.form-group__btn:hover {
  box-shadow: inset 200px 0 0 0 #1869ac;
}

.close__btn {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  left: 490px;
  top: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.close__icon {
  position: absolute;
  left: 22.23%;
  top: 16.67%;
}

.check__input {
  width: 16px;
  appearance: none;
  z-index: 9;
}
.check__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.check__text {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
}

.check__grid {
  width: 100%;
  display: flex;
  margin-top: 20px;
  margin-left: 8px;
  gap: 8px;
}

.check__icon {
  margin-top: 5px;
  margin-left: -21px;
}

.check__input:not(:checked) + .check__icon {
  fill: #ffffff;
  border: 2px solid black;
  border-radius: 2px;
}
.check__input:checked + .check__icon {
  fill: #ffffff;
  border: 0;
  border-radius: 2px;
  background-color: #2196f3;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.products__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.buttons {
  width: 572px;
  display: flex;
  gap: 8px;
  margin-bottom: 34px;
  margin-top: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons__item {
  font-weight: 500;
  background-color: var(--third-background-color);
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  padding: 6px 22px;
  border: 0px solid;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__item:hover,
.buttons__item:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--secondary-color);
  background-color: var(--logo-web-color);
}
.grid {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin: 0;
}
.grid__item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  border-bottom: 1px solid #eeeeee;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.grid__item:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.grid__item:hover .products__overlay {
  transform: translatey(0);
}
.products__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  width: 322px;
  padding-left: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
}
.products__description {
  color: var(--alternative-color);
  font-size: 16px;
  line-height: 1.87;
  width: 322px;
  padding-left: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}

.products__overlay {
  position: absolute;
  width: 370px;
  height: 294px;
  padding: 49px 45px 49px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  color: var(--secondary-color);
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms ease;
}
.products__item {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

@keyframes cursormoveout {
  from {
    fill: #afb1b8;
    border: 1px solid #afb1b8;
  }
  to {
    fill: #2196f3;
    border: 1px solid #2196f3;
  }
}
@keyframes cursormovein {
  from {
    fill: #2196f3;
    border: 1px solid #2196f3;
  }
  to {
    fill: #afb1b8;
    border: 1px solid #afb1b8;
  }
}
